<div class="container my-5">
  <div class="text-end mb-4">
    <button class="btn btn-add" routerLink="/form">Add New Record</button>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let dataa of receivedData">
      <div class="intern-card p-4 shadow-sm rounded-4 position-relative">
        <h5 class="fw-semibold text-dark mb-2">{{ dataa.name }}</h5>
        <p class="mb-1">
          <strong>Joined:</strong> {{ dataa.joineddate | date : "shortDate" }}
        </p>
        <p class="mb-3"><strong>Specialization:</strong> {{ dataa.skill }}</p>

        <div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
          <button class="btn btn-light btn-sm p-1 px-2"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            &#8942;
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" (click)="toIntern(dataa.id)">Details</a></li>
            <li><a class="dropdown-item" (click)="sendData(dataa)">Edit</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="['/form']" [state]="dataa">Edit</a></li> -->
            <li><a class="dropdown-item" (click)="deleteUser(dataa.id)">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
